<div class="container">
      <div class="row">
        <div class="page-header">
          <h1>Thank you for your interest in Ohana's childbirth and parenting workshops. <small>These workshops are scheduled on an interest basis.  Please indicate which workshops you would like to attend and we will contact you when the next one will be scheduled.</small></h1>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <form role="form" class="form-horizontal">
            <div class="form-group">
              <label for="first_name" class="col-md-3 control-label">First Name</label>
              <div class="col-md-9">
                <input id="first_name" class="form-control" placeholder="First">
              </div>
            </div>

            <div class="form-group">
              <label for="last_name" class="col-md-3 control-label">Last Name</label>
              <div class="col-md-9">
                <input class="form-control" placeholder="Last">
              </div>
            </div>

            <div class="form-group">
              <label for"email" class="col-md-3 control-label">Email address</label>
              <div class="col-md-9">
                <input id="email" class="form-control" placeholder="Email">
              </div>
            </div>

            <div class="form-group">
              <label for="Due Date" class="col-md-3 control-label">Due Date or Delivery Date (if applicable)</label>
              <div class="col-md-9">
                <input id="Due Date" class="form-control" placeholder="DD/MM/YY">
              </div>
            </div>

            <div class="form-group">
              <label for="Doctor" class="col-md-3 control-label">Doctor or Midwife</label>
              <div class="col-md-9">
                <input id="Doctor" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="Hospital" class="col-md-3 control-label">Hospital</label>
              <div class="col-md-9">
                <input id="Hospital" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="City" class="col-md-3 control-label">Your City/Town</label>
              <div class="col-md-9">
                <input id="City" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="neighborhood" class="col-md-3 control-label">Neighborhood, if Chicago</label>
              <div class="col-md-9">
                <input id="neighborhood" class="form-control">
              </div>
            </div>

            <div class="form-group">
              <label for="availability" class="col-md-9 col-md-offset-2">Please indicate your availability and any scheduling constraints you have to attend the workshops (ie: weekdays, evenings, weekends, etc.)</label>
              <div class="col-md-9 col-md-offset-2">
                <textarea id="availability" class="form-control"></textarea>
              </div>
            </div>

            <div class="form-group">
              <h3>Indicate which workshops or classes you are interested in:</h3>
              <label>
                <input type="checkbox"> Cloth Diapering
              </label>
              <label>
                <input type="checkbox"> Baby Sign Language
              </label>
              <label>
                <input type="checkbox"> Do-it-yourself laundry detergent
              </label>
              <label>
                <input type="checkbox"> Infant Sleep Strategies
              </label>
            </div>

            <button type="submit" class="btn_orange btn-lg">Submit</button>
          </form>
        </div> <!-- form column -->
      </div> <!-- form row -->
    </div> <!-- container -->
